<p>
	<h1>Genre Name: </h1>
	<%= @question.genreName %>
</p>

<p>
	<h1>Sub Genre Name: </h1>
	<%= @question.subgenreName %>
</p>

<p>
	<h1>Content: </h1>
	<%= @question.content %>
</p>

<p>
	<h1>A: </h1>
	<%= @question.A %>
</p>

<p>
	<h1>B: </h1>
	<%= @question.B %>
</p>

<p>
	<h1>C: </h1>
	<%= @question.C %>
</p>

<p>
	<h1>D: </h1>
	<%= @question.D %>
</p>

<p>
	<h1>Answer: </h1>
	<%= @question.answer %>
</p>
